.emms__checkout {
  min-height: 100vh;
  background: url("../../../img/back-hero-ecommerce-checkout.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0 0 0;
  box-sizing: border-box;
}

.emms__checkout__container {
  width: 90%;
}

.emms__checkout__container.emms__checkout__card__container--form {
  max-width: 1100px;
}

.emms__checkout__container.emms__checkout__card__container--success {
  max-width: 990px;
}

.emms__checkout__container.emms__checkout__card__container--error {
  max-width: 990px;
}

.emms__checkout__card {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
}

.emms__checkout__card img {
  width: 384px;
  height: 64px;
  padding: 20px 0px 0px 60px;
}

.emms__checkout__card__container--success .emms__checkout__card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 60px 0px 30px 60px;
}

.emms__checkout__card__container--error .emms__checkout__card {
  text-align: center;
  padding: 80px 60px;
}

.emms__checkout__card__container--success .emms__checkout__card__main {
  max-width: 500px;
}

.emms__checkout__card__container--error .emms__checkout__card__main {
  max-width: 570px;
  margin: 0 auto;
}

.emms__checkout__card__main h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  color: #333333;
}

.emms__checkout__card__main h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.emms__checkout__card__main h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #333333;
}

.emms__checkout__card__main p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #666666;
  margin: 20px 0px;
}

.emms__checkout__card__main p a {
  font-weight: 700;
  color: #7d04f6;
}

.emms__checkout__card__main p a:hover {
  text-decoration: underline;
}

.emms__checkout__card__main .emms__cta {
  margin: 40px 0 0 0;
}

.emms__checkout__card__main__list {
  max-width: 500px;
  width: 100%;
  margin: 40px 0 0 0;
}

.emms__checkout__card__main__list li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #333333;
}

.emms__checkout__card__main__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url("../../../img/icons/icon-check--purple.svg") no-repeat;
  background-size: contain;
}

.emms__checkout__card__aside {
  border: solid 1px #808080;
  border-radius: 6px;
  max-width: 340px;
  width: 100%;
  max-height: 400px;
  margin-top: 50px;
}

.emms__checkout__card__aside h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #808080;
  border-bottom: solid 1px #808080;
  padding: 20px 30px;
}

.emms__checkout__card__aside table {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #808080;
  width: 100%;
  padding: 20px 30px;
}

.emms__checkout__card__aside table tr {
  height: 40px;
}

.emms__checkout__back {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin: 20px 0 0 0;
  transition-duration: 0.2s;
}

.emms__checkout__back:hover {
  opacity: 0.7;
  transition-duration: 0.2s;
}

@media (max-width: 992px) {
  .emms__checkout {
    padding: 100px 0;
  }

  .emms__checkout__card__container--success .emms__checkout__card {
    flex-wrap: wrap;
  }

  .emms__checkout__card__aside {
    max-width: initial;
  }
}

@media (max-width: 620px) {
  .emms__checkout__card img {
    width: 300px;
    height: 50px;
    padding: 8px;
  }

  .emms__checkout__card__container--success .emms__checkout__card {
    padding: 16px;
  }

  .emms__checkout__card__container--error .emms__checkout__card {
    text-align: center;
    padding: 70px 30px;
  }

  .emms__checkout__card__main h2 {
    font-size: 27px;
    line-height: 29px;
  }

  .emms__checkout__card__main h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .emms__checkout__card__main__list li {
    margin-bottom: 24px;
  }

  .emms__checkout__card__aside table {
    font-size: 14px;
  }

  .emms__checkout__card__aside h3,
  .emms__checkout__card__aside table {
    padding: 20px 20px;
  }
}
