/* Hero */

.emms__home__hero {
    background: #000 url("../../../img/back-hero--dk-24.png") no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 178px 0 108px 0;
    animation: hero-back 3s;
}

@keyframes hero-back {
    0% {
        background-size: 120%;
    }

    100% {
        background-size: 100%;
    }
}

.emms__home__hero__title {
    max-width: 978px;
    width: 90%;
    margin: 0 auto 89px auto;
    text-align: center;
}


.emms__home__hero__title a {
    color: #BD7AFF;
    font-weight: bold;
}


.emms__home__hero__title h1 {
    font-size: 50px;
    line-height: 52px;
    font-weight: 700;
    color: #fff;

}

.emms__home__hero__title h1 em {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    display: block;
    margin: 0 0 20px 0;
}

.emms__home__hero__title h1 em span {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FF07D4;
}

.emms__home__hero__title h1 em.xl {
    font-style: normal;
    display: block;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.emms__home__hero__title h2 {
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    margin: 15px auto;
    max-width: 590px;
}

.emms__home__hero__title p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    max-width: 580px;
    margin: 0 auto;
    font-weight: bold;
}

.emms__home__hero__title p span {
    color: #EC6CFF;
}

.emms__home__hero__title.emms__home__hero__title__during p strong a {
    color: #79F66E;
    font-weight: bold;
}

.emms__home__hero__title.emms__home__hero__title__during p strong a:hover {
    color: #61DB56;
}

/* Event Numbers */

.emms__home .emms__eventnumbers {
    background: #230966;
}


/* Central Video */

.emms__home .emms__centralvideo .emms__background-a {
    width: 1000px;
    height: 900px;
    position: absolute;
    transform: translate(-72%, 2%);
}

.emms__home.emms__home-logueado .emms__centralvideo__title h2 {
    max-width: 560px;
}


@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


/* Frequent questions */

.emms__home .emms__frequentquestions .emms__background-a {
    width: 1002px;
    height: 919px;
    position: absolute;
    transform: translate(-72%, -5%) rotate(180deg);
}


/* Companies list */

.emms__home .emms__companies .emms__companies__list .emms__companies__list__item {
    height: 40px;
}


/* --------------------------------------------------- Responsive --------------------------------------------------- */


@media(max-width:992px) {
    .emms__home .emms__centralvideo .emms__background-a {
        width: 434px;
        height: 400px;
        transform: translate(-74%, -72%);
    }

    .emms__home.emms__home-logueado .emms__home__speakers .emms__background-a {
        display: none;
    }

    .emms__home .emms__userscomments .emms__background-a {
        display: none;
    }
}

@media(max-width:620px) {
    .emms__home__hero {
        padding: 100px 0 165px 0;
    }

    .emms__home__hero__title {
        margin: 0 auto 50px auto;
    }

    .emms__home__hero__title h1 {
        font-size: 30px;
        line-height: 28px;
    }

    .emms__home__hero__title h2 {
        font-size: 16px;
    }

    .emms__home__hero__title p span {
        display: none;
    }

    .emms__home .emms__userscomments {
        padding: 75px 0 150px 0;
    }

    .emms__home .emms__frequentquestions .emms__background-a {
        width: 434px;
        height: 399px;
        transform: translate(-79%, -80%) rotate(0deg);
    }
}
