.emms__previous-editions {
  background: #0b0627;
}

/* ---- Hero ---- */

.emms__previous-editions__hero {
  padding: 177px 0 300px 0;
  text-align: center;
  position: relative;
}

.emms__previous-editions__hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(#000 50%, transparent 100%);
}

.emms__previous-editions__hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(transparent, #0b0627);
}

.emms__previous-editions__hero .emms__container--md {
  max-width: 480px;
}

.emms__previous-editions__hero h1 {
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  animation-delay: 0.1s;
}

.emms__previous-editions__hero p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 30px 0 0 0;
  animation-delay: 0.5s;
}

.emms__previous-editions__hero p strong {
  font-weight: 800;
}

.emms__previous-editions__hero p a {
  font-weight: 800;
  color: #33ad73;
}

.emms__previous-editions__hero p a:hover {
  text-decoration: underline;
}

.emms__previous-editions__hero__bottom {
  margin: 90px 0 -85px 0;
  border-top: solid 1px #ef2aac;
  border-bottom: solid 1px #ef2aac;
  height: 80px;
  position: relative;
}

.emms__previous-editions__hero__bottom__container {
  position: absolute;
  bottom: 30px;
  left: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  animation-delay: 0.4s;
}

.emms__previous-editions__hero__bottom__container p {
  font-size: 22px;
  line-height: 20px;
  font-weight: 700;
  color: #ef2aac;
  white-space: nowrap;
  margin: 0 5px 0 0;
  animation: text-bottom 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes text-bottom {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Hero with columns */

.emms__previous-editions__hero .emms__previous-editions__hero__row {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 1;
}

.emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-text {
  text-align: left;
  width: 40%;
}

.emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-img {
  width: 60%;
}

.emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-img img {
  width: 100%;
  animation-delay: 0.3s;
}

/* ---- Editions list ----  */

.emms__previous-editions__list {
  padding: 120px 0 40px 0;
  margin: -250px 0 0 0;
  position: relative;
}

.emms__previous-editions__list h2 {
  font-size: 32px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 0 0 70px 0;
}

.emms__previous-editions__list .emms__previous-editions__list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  column-gap: 30px;
}

.emms__previous-editions__list .emms__previous-editions__list__item {
  width: 31%;
  margin: 0 0 80px 0;
  animation-delay: 0.2s;
}

.emms__previous-editions__list .emms__previous-editions__list__item a {
  color: #fff;
  position: relative;
  height: 100%;
  display: block;
  cursor: pointer;
}

.emms__previous-editions__list .emms__previous-editions__list__item__image {
  pointer-events: none;
}

.emms__previous-editions__list .emms__previous-editions__list__item__image img {
  width: 100%;
  display: block;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description {
  padding: 30px 0 40px 0;
  pointer-events: none;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description h3 {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description span {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #33ad73;
  margin: 15px 0 0 0;
  display: block;
  position: absolute;
  bottom: 0;
  animation-duration: 0.2s;
}

.emms__previous-editions__list a:hover .emms__previous-editions__list__item__description span {
  text-decoration: underline;
  animation-duration: 0.2s;
}

/* Item lg */

.emms__previous-editions__list__container.emms__previous-editions__list__container--lg {
  justify-content: space-between;
  margin: 0 10px;
}

.emms__previous-editions__list .emms__previous-editions__list__container--xl {
  padding: 30px 12px;
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl {
  width: 100%;
  position: relative;
  max-height: 488px;
  background: #302b47;
  border-radius: 20px;
  padding-bottom: 40px;
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__description {
  padding: 40px;
  margin: 25px 0px;
  font-weight: 700;
  color: #ffffff;
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__description h4 {
  font-size: 24px;
  line-height: 22px;
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__description p {
  font-size: 21px;
  line-height: 26px;
  margin-top: 10px;
  max-width: 832px;
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(90deg, #7d04f6, #df24c1, #79f66e, #7d04f6);
  border-radius: 22px;
  z-index: -1;
  background-size: 400% 400%;
  animation: neon-border 6s linear infinite;
}

@keyframes neon-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__image {
  background: #421e5e;
  width: 100%;
  border-radius: 20px;
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__image img {
  width: 100%;
  margin: 0 auto;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg {
  width: 47%;
  position: relative;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(220deg, #7d04f6, #df24c1, #79f66e);
  border-radius: 22px;
  z-index: -1;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg a {
  background: #302b47;
  display: block;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 0 80px 0;
  box-sizing: border-box;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description {
  padding: 40px;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description h3 {
  margin: 0 0 15px 0;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description span {
  margin: 25px 0 0 0;
  bottom: 50px;
}

.emms__previous-editions__list .emms__previous-editions__list__item__image img.mobile {
  display: none;
}

.emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__image img.desktop {
  display: block;
}

/* ----- Responsive ----- */

@media (max-width: 992px) {
  .emms__previous-editions__list .emms__container--md {
    max-width: 500px;
  }

  .emms__previous-editions__list .emms__previous-editions__list__container {
    column-gap: 0;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item {
    width: 100%;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item__description p {
    min-height: auto;
  }

  /* Item lg */

  .emms__previous-editions__list .emms__previous-editions__list__item--lg {
    width: 100%;
  }

  /* Hero width columns */

  .emms__previous-editions__hero .emms__previous-editions__hero__row {
    display: block;
  }

  .emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-text {
    text-align: center;
    width: 100%;
    margin: 0 auto 50px auto;
    max-width: 600px;
  }

  .emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 620px) {
  .emms__previous-editions__hero {
    padding: 130px 0 60px 0;
  }

  .emms__previous-editions__hero.emms__bg-section-4 {
    background-size: cover;
  }

  .emms__previous-editions__hero__bottom {
    margin: 90px 0 -58px 0;
  }

  .emms__previous-editions__list {
    padding: 70px 0 30px 0;
    margin: -50px 0 0 0;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item {
    margin: 0 0 40px 0;
  }

  /* Item lg */

  .emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description {
    padding: 25px;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__image img.mobile {
    display: block;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__image img.desktop {
    display: none;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item--xl {
    max-height: unset;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__description h4 {
    font-size: 21px;
  }

  .emms__previous-editions__list .emms__previous-editions__list__item--xl .emms__previous-editions__list__item__description p {
    font-size: 16px;
  }
}
