.emms__features__title {
    text-align: center;
    max-width: 556px;
    width: 90%;
    margin: 0 auto;
    padding: 56px 0;
    position: relative;
}

.emms__features__title h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1px;
    color: #333;
}

.emms__features__title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    margin: 18px 0 0 0;
}

.emms__features__divisor {
    width: 100%;
    height: 7px;
    background: #fff;
}

.emms__features__item {
    padding: 90px 0;
    animation-delay: 0.2s;
}

.emms__features__item .emms__container--md,
.emms__features__item .emms__container--lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) {
    .emms__features__item--reverse .emms__container--md,
    .emms__features__item .emms__container--lg {
        flex-direction: row-reverse;
    }
}

@media (max-width: 992px) {
    .emms__features__item .emms__container--lg {
        flex-direction: column;
    }
}

.emms__features__item .emms__features__item__image {
    width: 45%;
}

.emms__features__item .emms__features__item__image img {
    display: block;
    width: 100%;
}

.emms__features__item .emms__features__item__text {
    width: 50%;
}

.emms__features__item
    .emms__features__item__text.emms__features__item__text--speaker-interna {
    width: 60%;
}

.emms__features__item .emms__features__item__text h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #212121;
    margin: 0 0 30px 0;
    max-width: 332px;
}

.emms__features__item
    .emms__features__item__text.emms__features__item__text--speaker-interna
    h3 {
    max-width: 530px;
}

.emms__features__item .emms__features__item__text h3 .price-large {
    font-size: 47px;
    line-height: 1;
}

.emms__features__item .emms__features__item__text h3 .price-small {
    font-size: 24px;
    line-height: 1;
}

.emms__features__item .emms__features__item__text p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212121;
    margin: 24px 0 27px 0;
    max-width: 435px;
}

.emms__features__item
    .emms__features__item__text.emms__features__item__text--speaker-interna
    p {
    max-width: 440px;
}

.emms__features__item__text__list li {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    padding: 0 0 0 30px;
    margin: 0 0 25px 0;
    position: relative;
    max-width: 407px;
}

.emms__features__item__text__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    background: url("../../../img/icons/icon-check--purple.svg") no-repeat;
    background-size: contain;
}

.emms__features__item
    .emms__features__item__text
    .emms__features__item__text__footer {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 0px;
    max-width: 450px;
}

.emms__features__item
    .emms__features__item__text
    .emms__features__item__text__price {
    font-size: 47px;
    line-height: 1;
    font-weight: 900;
    color: #7d04f6;
    margin: 40px 0 30px 0;
}

.emms__features__item
    .emms__features__item__text
    .emms__features__item__text__price
    em {
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    display: block;
    margin: 0px;
    line-height: 31px;
    color: #242424;
}

.emms__features__item
    .emms__features__item__text
    .emms__features__item__text__price.emms__features__item__text__price--live {
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 47px;
    color: #7d04f6;
    margin-top: 10px;
}

.emms__features__item
    .emms__features__item__text
    .emms__features__item__text__price.emms__features__item__text__price--live
    small {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 47px;
    color: #7d04f6;
}

.emms__features__item
    .emms__features__item__text
    .emms__features__item__text__price
    span {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    display: block;
}

@media (max-width: 992px) {
    .emms__features__title {
        padding: 36px 0;
    }

    .emms__features__title h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .emms__features__item .emms__container--md {
        display: block;
        max-width: 600px;
    }

    .emms__features__item {
        padding: 50px 0;
    }

    .emms__features__item .emms__features__item__image {
        width: 100%;
        margin: 0 0 40px 0;
    }

    .emms__features__item .emms__features__item__text {
        width: 100%;
        text-align: center;
    }

    .emms__features__item .emms__features__item__text h3 {
        text-align: center;
    }

    .emms__features__item
        .emms__features__item__text
        .emms__features__item__text__price {
        text-align: center;
    }
}

@media (max-width: 620px) {
    .emms__features__item .emms__features__item__text h3 {
        font-size: 28px;
        line-height: 30px;
    }
}
