.emms__register-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
    overflow-y: scroll;
}

.emms__register-modal.open {
    display: flex;
}

.emms__register-modal__window {
    max-width: 425px;
    width: 90%;
    height: 100%;
    margin: 50px auto 80px auto;
    position: relative;
    animation: show-modal-form 0.4s;
}

.emms__register-modal__window.emms__register-modal__window--success-message {
    max-width: 576px;
    width: 90%;
    height: 20%;
    margin: 50px auto 80px auto;
    position: relative;
    animation: show-modal-form2 0.4s;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(25vh);
    text-align: center;
    justify-content: center;
    min-height: 240px;
    display: none;
}

.emms__register-modal__window.emms__register-modal__window--success-message.dp--modal {
    display: flex;
}

.emms__register-modal__window.emms__register-modal--sponsor-promo.dp--modal {
    display: none;
}

.emms__register-modal__window.emms__register-modal__window--success-message h5 {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    align-items: center;
    color: #212121;
    max-width: 504px;
}

.emms__register-modal__window.emms__register-modal__window--success-message p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    max-width: 504px;
}

@keyframes show-modal-form {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes show-modal-form2 {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(25vh);
    }
}

.emms__register-modal__window .emms__form {
    padding: 60px 37px 37px 37px;
}

.emms__register-modal__window .emms__form h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px 0;
}

.emms__register-modal__window .emms__form h4 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    max-width: 300px;
    margin: 0 auto 20px auto;
}

.emms__register-modal__window.emms__register-modal--sponsor-promo h4 {
    font-weight: bold;
    margin: unset;
    max-width: unset;
    text-align: left;
    line-height: 20px;
    font-size: 13px;
    margin: 15px 0px;
}

.emms__register-modal__window .emms__form .emms__cta {
    width: 100%;
}

.emms__register-modal__window .emms__register-modal__window__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 15px;
    height: 15px;
    background: url("../../../img/icons/icon-close.svg") no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    .emms__register-modal {
        overflow: scroll;
        padding: 120px 0 20px 0;
    }
}
