.emms__calendar__vip {
    margin: 0 0 60px 0;
    padding: 55px 0 0 0;
    background: #fdecfb;
    position: relative;
}

.emms__calendar__vip::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 242px;
    height: 480px;
    background: url("../../../img/icons/icon-star-gradient--pair.png") no-repeat;
    background-size: contain;
}

.emms__calendar__vip::after {
    content: "";
    position: absolute;
    right: 0;
    top: 200px;
    width: 164px;
    height: 164px;
    background: url("../../../img/icons/icon-star-gradient--mirrored.png")
        no-repeat;
    background-size: contain;
}

.emms__calendar__vip__title {
    margin: 0 auto 40px auto;
    max-width: 960px;
    width: 90%;
}

.emms__calendar__vip__title h4 {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #550871;
    margin: 0;
    display: flex;
    justify-content: center;
}

.emms__calendar__vip__title h4 strong {
    font-weight: 800;
    margin: 0 0 0 5px;
}

.emms__calendar__vip__title h4 a {
    color: #008046;
    margin: 0 0 0 5px;
    cursor: pointer;
}

.emms__calendar__vip__title h4 a:hover {
    text-decoration: underline;
}

.emms__calendar__vip__title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .emms__calendar__vip::before,
    .emms__calendar__vip::after {
        display: none;
    }
}

@media (max-width: 992px) {
    .emms__calendar__vip__title h4 {
        line-height: 28px;
        text-align: center;
        display: block;
    }
}

/* Full title */

.emms__calendar__vip__title.full {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emms__calendar__vip__title.full h4 {
    display: block;
}

.emms__calendar__vip__title.full h4 strong {
    display: block;
    margin: 0;
}

.emms__calendar__vip__title.full p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    max-width: initial;
    margin: 0;
}

.emms__calendar__vip__title.full p a {
    color: #008046;
}

.emms__calendar__vip__title.full p a:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .emms__calendar__vip__title.full {
        text-align: center;
        display: block;
    }

    .emms__calendar__vip__title.full .emms__cta {
        margin: 20px 0;
    }
}

/* ---------------------------------------- Cards -------------------------------------------------- */

.emms__calendar__vip__card {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 18px 18px 18px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
}

.emms__calendar__vip__card.emms__calendar__vip__card--large {
    background: #e5cfe3;
    padding: 18px 0 18px 12px;
}

.emms__calendar__vip__card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 12px;
    background: #550871;
}

.emms__calendar__vip__card.emms__calendar__vip__card--large::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 100%;
    background: #550871;
}

.emms__calendar__vip__card.emms__calendar__vip__card--large div {
    flex-basis: 33.3%;
    padding: 0 30px;
    box-sizing: border-box;
}

div.emms__calendar__vip__card__title {
    position: relative;
    padding: 0 0 0 62px;
}

.emms__calendar__vip__card--large div.emms__calendar__vip__card__title {
    position: relative;
    padding: 0 0 0 90px;
}

.emms__calendar__vip__card__title::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 67px;
    height: 67px;
    background: url("../../../img/icons/icon-star-gradient.png") no-repeat;
    background-size: contain;
}

.emms__calendar__vip__card--large .emms__calendar__vip__card__title::before {
    left: 10px;
}

.emms__calendar__vip__card__title h5 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
}

.emms__calendar__vip__card__title h5 span {
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    color: #212121;
    display: block;
    margin: 4px 0 0 0;
}

.emms__calendar__vip__card__description {
    border-top: solid 1px #838370;
    border-bottom: solid 1px #838370;
    margin: 20px 0;
    padding: 15px 0;
}

.emms__calendar__vip__card--large .emms__calendar__vip__card__description {
    border-right: solid 1px #838370;
    border-left: solid 1px #838370;
    border-top: none;
    border-bottom: none;
    margin: 0;
}

.emms__calendar__vip__card__description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #333;
}

.emms__calendar__vip__card div.emms__calendar__date__country {
    text-align: left;
    padding: 0 0 0 25px;
}

.emms__calendar__vip__card div.emms__calendar__date__country a {
    font-size: 13px;
}

.emms__calendar__vip__card.emms__calendar__vip__card--large
    div.emms__calendar__date__country {
    text-align: left;
    padding: 0 30px 0 60px;
}

.emms__calendar__vip__card .emms__calendar__date__country span {
    font-size: 15px;
    display: block;
    position: relative;
}

.emms__calendar__vip__card .emms__calendar__date__country span img {
    position: absolute;
    right: 100%;
    top: -1px;
    width: 15px;
    height: 15px;
}

@media (max-width: 992px) {
    .emms__calendar__vip__card.emms__calendar__vip__card--large {
        display: block;
        padding: 30px 18px 18px 18px;
        max-width: 260px;
    }

    .emms__calendar__vip__card.emms__calendar__vip__card--large::before {
        width: 100%;
        height: 12px;
    }

    .emms__calendar__vip__card--large div.emms__calendar__vip__card__title {
        padding: 0 0 0 60px;
    }

    .emms__calendar__vip__card--large
        .emms__calendar__vip__card__title::before {
        width: 57px;
        height: 57px;
        left: -8px;
    }

    .emms__calendar__vip__card--large
        div.emms__calendar__vip__card__description {
        border-right: none;
        border-left: none;
        border-top: solid 1px #838370;
        border-bottom: solid 1px #838370;
        margin: 20px 0;
        padding: 15px 0;
    }

    .emms__calendar__vip__card.emms__calendar__vip__card--large
        div.emms__calendar__date__country {
        padding: 0 0 0 25px;
    }
}

/* ---------------------------------------- List -------------------------------------------------- */

.emms__calendar__vip__list {
    display: flex;
    max-width: 980px;
    margin: 40px auto 0;
}

.emms__calendar__vip__list--mb {
    max-width: 300px;
    display: none;
}

.emms__calendar__vip__list--mb .flickity-viewport {
    padding-bottom: 5px;
}

.emms__calendar__vip__list .emms__calendar__vip__card {
    margin: 0 10px;
}

.emms__calendar__vip__list--mb .flickity-page-dots {
    display: none;
}

@media (max-width: 992px) {
    .emms__calendar__vip__list {
        margin: 20px auto 0;
    }
    .emms__calendar__vip__list--mb {
        display: block;
    }
    .emms__calendar__vip__list--dk {
        display: none;
    }

    .emms__calendar__vip__list .emms__calendar__vip__card {
        margin: 0 20px;
    }
}

/* ---------------------------------------- Speakers List -------------------------------------------------- */

.emms__calendar__vip .emms__calendar__list .emms__calendar__list__item {
    position: relative;
}

.emms__calendar__vip
    .emms__calendar__list
    .emms__calendar__list__item__card__label {
    background: #550871;
}

.emms__calendar__vip
    .emms__calendar__list
    .emms__calendar__list__item__card__label
    p {
    font-size: 14px;
    line-height: 1;
    text-align: right;
    color: #fff;
    background: #550871;
    width: 70%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 7px 16px 6px 16px;
}

/* ---------------------------------------- Bottom -------------------------------------------------- */

.emms__calendar__vip .emms__calendar__bottom {
    margin: 60px auto;
}

@media (max-width: 992px) {
    .emms__calendar__vip .emms__calendar__bottom {
        margin: 30px auto 60px auto;
    }
}
