.emms__userscomments{
    position: relative;
    padding: 260px 0 0 0;
    margin: 70px 0;
}

.emms__userscomments::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 636px;
    height: 669px;
    background: url("../../../img/back-quotes.png") no-repeat;
    background-size: contain;
}

.emms__userscomments h2 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 800;
    color: #333333;
    text-align: center;
    margin: 0 0 40px 0;
    animation-delay: .1s;
}

.emms__userscomments .emms__userscomments__list {
    display: flex;
    justify-content: space-between;
    animation-delay: .2s;
}

.emms__userscomments .emms__userscomments__list--mb {
    display: none;
}

.emms__userscomments .emms__userscomments__list .emms__userscomments__list__item {
    width: 32%;
    position: relative;
}

.emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__content{
    height: 100%;
    padding: 60px 40px 120px 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: #fff;
}

.emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
}

.emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__author{
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__author--photo{
    width: 45px;
    height: 45px;
}

.emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__author--name p{
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__author--name img{
    width: 15px;
    height: 15px;
}


.emms__userscomments .emms__userscomments__cta{
    margin: 110px 0 0 0;
}

/* Dark Version */

.emms__userscomments.emms__userscomments--dark{
    background: #310E44;
    padding: 77px 0 107px 0;
}

.emms__userscomments.emms__userscomments--dark h2,
.emms__userscomments.emms__userscomments--dark .emms__userscomments__list .emms__userscomments__list__item__text{
    color: #fff;
}



/* ---------------------------------------------- Responsive ---------------------------------------------- */


@media(max-width:992px) {

    .emms__userscomments {
        margin: 70px 0 110px 0;
    }

    .emms__userscomments .emms__userscomments__list--mb {
        display: block;
        max-width: 620px;
        margin: 0 auto;
    }

    .emms__userscomments .emms__userscomments__list--dk {
        display: none;
    }

    .emms__userscomments .emms__userscomments__list .emms__userscomments__list__item {
        width: 100%;
    }

    .emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__content{
        height: 250px;
        margin: 0 10px 10px 10px;
    }

    .emms__userscomments .emms__userscomments__list--mb.main-carousel .flickity-button.flickity-prev-next-button {
        display: none;
    }

    .emms__userscomments .emms__userscomments__list--mb.main-carousel .flickity-page-dots .dot {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }
}

@media(max-width:620px) {

    .emms__userscomments {
        padding: 0 0 0 0;
        margin: 70px 0 100px 0;
    }

    .emms__userscomments::before{
        display: none;
    }

    .emms__userscomments .emms__userscomments__list--mb {
        max-width: 300px;
    }

    .emms__userscomments h2 {
        font-size: 25px;
        line-height: 30px;
        margin: 0 0 30px 0;
    }

    .emms__userscomments.emms__userscomments--dark{
        padding: 55px 0 137px 0;
    }

    .emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__content {
        height: 250px;
        margin: 0 10px 10px 10px;
        padding: 30px 20px 80px 20px;
    }

    .emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__text{
        line-height: 23px;
    }

    .emms__userscomments .emms__userscomments__list .emms__userscomments__list__item__author{
        bottom: 23px;
    }
}
